
@model int
<div class="row">
    <div class="col">
        <button type="submit" class="google-btn btn-primary form-control" asp-all-route-id="@Model">Update</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn-primary btn-success form-controller">Back to List</a>
    </div>
</div>
